@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600;700&family=Open+Sans:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import the custom fonts */

@font-face {
  font-family: 'satoshi-black';
  src: url('/fonts/Satoshi-Black.ttf');
}
@font-face {
  font-family: 'satoshi-bold';
  src: url('/fonts/Satoshi-Bold.ttf');
}
@font-face {
  font-family: 'satoshi-light';
  src: url('/fonts/Satoshi-Light.ttf');
}
@font-face {
  font-family: 'satoshi-medium';
  src: url('/fonts/Satoshi-Medium.ttf');
}
@font-face {
  font-family: 'satoshi-regular';
  src: url('/fonts/Satoshi-Regular.ttf');
}
@font-face {
  font-family: 'satoshi-variable';
  src: url('/fonts/Satoshi-Variable.ttf');
}

@layer components {
  .toast {
    @apply font-saRegular text-base;
  }
}


body{
  @apply font-saVariable
}
